.topic-image {
  width: 100%;
  height: 100%;
}


.span-topic {
  position: relative;
  width: 300px;
  height: 250px;
  padding: 20px;
  border: none;
}

.link {
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.topics-list {
  display:flex;
  flex-wrap: wrap;
  margin-left: 125px;
}

body {
  background-color: cornflowerblue;
}

.topic-name {
  position:absolute;
  z-index: 2;
  display: flex;
  opacity: 0;
  width: 300px;
  height: 250px;
  justify-content: center;
  align-items: center;
  text-shadow: 3px 3px 3px black;
  /* opacity: 0; */
  /* top: 150px;
  left: 125px; */
  color: white;
  /* padding: none; */
  margin-top: -0.1px;

}

#topic-name {
  padding:none;
}

.topic-name:hover {
  opacity: 1;
  box-shadow: 0 0 6px 8px white;
  /* -webkit-transform: scale(1.21);
  -moz-transform: scale(1.21);
  -o-transform: scale(1.21);
  -ms-transform: scale(1.21); */
  transition: all 0.2s ease;

}
