.panel {
  height: 80vh;
  width: 100%;
}

.panel_1 {
  background-image: url('../images/happygroup.jpg');
  background-size: cover;
  background-position-y: -100px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 125px;
}

.panel_1 a {
  background-color: rgba(0,0,0,0);
  color: #f2f2f2;
  border-radius: 5px;
  text-decoration: none;
  padding: 15px;
  border: 2px solid white;
  font-weight: 600;
  text-shadow: black 1px 0 1px;

}
.panel_1 a:hover {
  background-color: #f2f2f2;
  color: #f7a072;
  text-shadow: none;
}

.panel_2 {
  background-color: ##f5f5f5;
}

.panel_2 p {
  margin: 0 auto;
  width: 70%;
  font-size: 20px;
  line-height: 1.5;
}

.panel_3 {
  background-image: url("../images/treatment.jpg");
  background-size: cover;
  /* background-position-y: 100px; */
  background-repeat: no-repeat;
  display: flex;
}

.panel_3 div {
  margin-top: 120px;
  margin-left: -270px;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
  width: 60%;
  border-radius: 5px;
}

.panel_3 div ul {
  width: 80%;
  font-size: 23px;
  color: #121212;
  /* text-shadow: black 1px 0 1px; */
  font-weight: 600;
}

.panel_3 ul li {
  padding: 8px 0;
}

.panel_4 p {
  margin: 0 auto;
  margin-top: 140px;
  width: 70%;
  font-size: 20px;
  line-height: 1.5;
}

.panel_5 {
  background-image: url("../images/sadman.jpg");
  background-size: cover;
  background-position-y: -100px;
  background-repeat: no-repeat;
  display: flex;
  opacity: 0.9;
}

.panel_5 ol li {
  padding: 8px 0;
}

.panel_5 div {
  margin-top: 120px;
  margin-left: -400px;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75%;
  width: 85%;
  border-radius: 5px;
}

.panel_5 div ol {
  width: 90%;
  font-size: 23px;
  color: #121212;
  /* text-shadow: black 1px 0 1px; */
  font-weight: 600;
}

.panel_header_1 {
  font-size: 50px;
  color: #f3f3f3;
  justify-content: center;
  align-items: center;
  text-shadow: black 1px 0 1px;
}

.panel_header {
  margin-left: 35px;
  font-size: 50px;
  color: #f3f3f3;
  justify-content: center;
  align-items: center;
  text-shadow: black 1px 0 1px;
}

.panel_1_quote {
  font-size: 25px;
  color: white;
  font-style: italic;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  text-shadow: black 1px 0 1px;
}
