.OTPublisherContainer {
  width: 300px;
  height: 300px;
  overflow: hidden;
  display: flex;
  margin-left: 40%;
}

.OTSubscriberContainer{
  padding: 20px;
  float: left;
}

#sessionStatus {
  margin-top: 10px;
  margin-left: 10px;
}

.outer-div {
  padding-bottom: 500px;
}

.outer-div > button , #videoButton{
  height: 35px;
  color: white;
  border-radius: 5px;
  background-color: darkcyan;
  padding: 0px 10px 0px 10px;
  text-shadow: 2px 2px 2px black;
  margin: 5px 0px;
  margin-left: 48%;
  text-align: center;
  outline: none;
  border: none;
}

.outer-div > button {
  margin: 5px 10px;
}

.outer-div > button:hover , #videoButton:hover {
  background-color: #008080;
  cursor: pointer;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transition: transform 0.2s ease;
}

.room-name {
  position: absolute;
  font-variant: small-caps;
  text-shadow: 2px 2px 2px gray;
  color: white;
  margin-left: 42%;
  margin-top: -60px;
}
