.panel {
  height: 80vh;
  width: 100%;
}

.panel_1 {
  background-image: url("./sadman.jpg");
  background-size: cover;
  background-position-y: -100px;
  background-repeat: no-repeat;
  display: flex;
}

.panel_header {
  font-size: 40px;
  color: #D3D3D3;
  justify-content: center;
  align-items: center;
}

.panel_1_quote {
  font-size: 20px;
  color: white;
  font-style: italic;
  justify-content: center;
  align-items: center;
}
