.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.topic-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  width: 300px;
  height: 50px;
  margin: 10px;
  border-radius: 15px;
  background: #0FA3B1;
  color: #F7A072;
}

.topic-list-item h3 {
  font-weight: 900;
}

.link {
  text-decoration: none;
}

.topic-list-item:hover {
  opacity: 1.0;
  cursor: pointer;
  transition: all 0.3s ease;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
